<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{{ page.title }}</title>

  <link rel="icon" href="https://static.wixstatic.com/media/35c132_62dde739dccd4680956d347ea0943ff4~mv2.png?v=1">
  <link rel="shortcut icon" href="https://static.wixstatic.com/media/35c132_62dde739dccd4680956d347ea0943ff4~mv2.png?v=1">

  <meta name="theme-color" content="#D4275A">

  {{ content }}
</head>
<body>

</body>
</html>
